<p style="color: #EEE">
    <strong>{{ object.type.name }}</strong> {{ object.code }} |
   {{ 'sil.stock.operation.show.label.location_from'|trans|lower}} <strong>{{ object.srcLocation.codePath }}</strong>
   {{ 'sil.stock.operation.show.label.location_to'|trans|lower}}  <strong>{{ object.destLocation.codePath }}</strong>
</p>