{% extends 'BlastCoreBundle:CRUD:base_show.html.twig' %}

{% block show %}

    {{ parent()}}
    <div class="sonata-ba-form-actions well well-small form-actions">

        {% if  object.isDraft() %}
            <a class="btn btn-default" href="{{ admin.generateObjectUrl('edit', object) }}">
                <i class="fa fa-pencil" aria-hidden="true"></i> {{ 'librinfo.btn.edit_draft'|trans }}
            </a>
            <a class="btn btn-primary" href="{{ admin.generateObjectUrl('confirm', object) }}">
                <i class="fa fa-check-square-o" aria-hidden="true"></i> {{ 'librinfo.btn.confirm'|trans}}
            </a>
            <a class="btn btn-danger" href="{{ admin.generateObjectUrl('delete', object) }}">
                <i class="fa fa-minus-circle" aria-hidden="true"></i> {{ 'librinfo.btn.delete'|trans}}
            </a>
        {% endif %}




        {% if  object.isTodo() %}
            <a class="btn btn-default" href="{{ admin.generateObjectUrl('edit', object) }}">
                <i class="fa fa-pencil" aria-hidden="true"></i> {{ 'librinfo.btn.return_draft'|trans }}
            </a>
            <a class="btn btn-default" href="{{ admin.generateObjectUrl('reserve', object) }}">
                <i class="fa fa-pencil" aria-hidden="true"></i> {{ 'librinfo.btn.reserve'|trans }}
            </a>
            {% if object.isAvailable() %}
                <a class="btn btn-default" href="{{ admin.generateObjectUrl('apply', object) }}">
                    <i class="fa fa-pencil" aria-hidden="true"></i> {{ 'librinfo.btn.apply'|trans }}
                </a>
            {% endif %}
            <a class="btn btn-danger" href="{{ admin.generateObjectUrl('cancel', object) }}">
                <i class="fa fa-minus-circle" aria-hidden="true"></i> {{ 'librinfo.btn.cancel'|trans }}
            </a>
        {% endif %}


    </div>
{% endblock %}

